/* Add your CSS to this file */
html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", sans-serif, "Noto Sans", Arial;
  font-size: 18px;
}
body {
  margin: 0;
  font-size: 16px;
}

header .container {
  background-color: white;
}

h1 {
  font-size: 18px;
}
.container {
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
}

h2 {
  text-align: left;
}

ul {
  text-align: right;
  list-style-type: none;
  font-size: 18px;
}

li {
  display: inline;
}

li a {
  text-decoration: none;
  color: #6b7280;
  padding: 4px;
  font-weight: bold;
}

ul :nth-child(1) a {
  color: blue;
}

a:hover {
  color: #5a67d8;
}

.overview-hero .container {
  background-color: #e2e8f0;
  padding-bottom: 80px;
  font-size: 18px;
}

.overview-hero-image img {
  height: 150px;
  width: 150px;
  float: left;
  padding-right: 3em;
  padding-top: 1em;
  padding-left: 2em;
}

.cards {
  display: grid;
  grid-template-columns: auto auto auto;
  padding-bottom: 3em;
  column-gap: 1em;
  border-color: #e2e8f0;
}

.container .card {
  border: 1px solid;
  border-radius: 5px;
  box-shadow: 5px 6px grey;
  height: 390px;
  width: auto;
}

.card img {
  height: 170px;
  width: 190px;
  padding-left: 4em;
}

.card p {
  padding-left: 1em;
}

.card h3 {
  padding-left: 1em;
}
.learn-about h2 {
  font-size: 24px;
  color: #48bb78;
}
.learn-about h3 {
  font-size: 21px;
  color: #48bb78;
}

.testing .container {
  background-color: #4a5568;
  padding: 20px;
  color: white;
  display: flex;
  align-items: center;
}

.cta {
  text-align: right;
  width: 250px;
}

.testing .btn {
  background-color: #48bb78;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  float: center;
}

.testing-desciption p {
  float: left;
  padding-right: 300px;
}
.stories img {
  border-radius: 50%;
  display: block;
  height: 150px;
  width: 150px;
  float: left;
}

.stories h2 {
  padding-top: 2em;
}

.article-body {
  text-align: left;
  padding-left: 12em;
  padding-bottom: 4em;
}

.newsletter .container {
  background-color: #48bb78;
  color: white;
  padding-bottom: 4em;
  padding-top: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.newsletter p {
  padding-left: 20em;
  padding-right: 14em;
}

.newsletter h3 {
  text-align: center;
}

.newsletter button {
  background-color: blue;
  border: none;
  color: white;
  padding: 13px 30px;
  text-decoration: none;
  font-size: 16px;
  float: right;
}

.form-group input {
  font-size: 16px;
  padding: 15 32px;
  height: 2.5em;
  float: right;
}
footer .container {
  background-color: #4a4468;
  color: white;
  padding: 0.5em;
}

footer p {
  padding-left: 8em;
}
